@model VTS_Management.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Project Details</h2>

<div>
   
    <hr />
    <table class="table table-bordered">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProjectName)
            </td>

            <td>
                @Html.DisplayFor(model => model.ProjectName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProjectType)
            </td>

            <td>
                @Html.DisplayFor(model => model.ProjectType)
            </td>

        </tr>

       
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProjectEmployee)
            </td>

            <td>
                @Html.DisplayFor(model => model.ProjectEmployee)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProjectCost)
            </td>

            <td>
                @Html.DisplayFor(model => model.ProjectCost)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProjectProfit)
            </td>

            <td>
                @Html.DisplayFor(model => model.ProjectProfit)
            </td>
        </tr>
        

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProjectCustomer)
            </td>

            <td>
                @Html.DisplayFor(model => model.ProjectCustomer)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProjectSales)
            </td>

            <td>
                @Html.DisplayFor(model => model.ProjectSales)
            </td>
        </tr>

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
