@model VTS_Management.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Employee Details</h2>

<div>
    
    <hr />
    <table class="table table-bordered table-striped">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(model => model.EmployeeId)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(model => model.EmployeeName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.EmployeePhone)
            </td>
            <td>
                @Html.DisplayFor(model => model.EmployeePhone)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.EmployeeAddress)
            </td>
            <td>
                @Html.DisplayFor(model => model.EmployeeAddress)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.EmployeeEmail)
            </td>
            <td>
                @Html.DisplayFor(model => model.EmployeeEmail)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.EmployeeSalary)
            </td>
            <td>
                @Html.DisplayFor(model => model.EmployeeSalary)
            </td>
        </tr>
        <tr>
    <td>
        @Html.DisplayNameFor(model => model.EmployeeType)
    </td>
    <td>
        @Html.DisplayFor(model => model.EmployeeType)
    </td>
</tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.EmployeeDetails)
            </td>
            <td>
                @Html.DisplayFor(model => model.EmployeeDetails)
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
